version: 2
updates:
- package-ecosystem: gomod
  directory: /
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10
  ignore:
    - dependency-name: github.com/eu-sovereign-cloud/go-sdk
      update-types: [version-update:semver-minor]