on:
  push:
    branches: ["main"]
    paths-ignore:
      - "*.md"
  pull_request:
    branches: ["*"]
    paths-ignore:
      - "*.md"

name: Tests
jobs:
  functional:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod

      - name: Mock
        run: make mock-start

      - name: Build
        run: make

      - name: Run
        run: make run
